@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #050404;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px rgb(241, 212, 212);
}
.navbar h2 {
  color: rgb(205, 48, 48);  
}
.navbar div {
  list-style: none;
  margin-left: auto;
  padding: 6px;
}

.navbar a {
  display: inline-block;
  margin-right: 10px;
  color: rgb(44, 23, 6);
  font-weight: bold;
  text-decoration: none;
}

.navbar a:hover {
  cursor: pointer;
  color: red;
}
.navbar .links {
  margin-left: auto;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: rgb(209, 69, 69);
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}
.blog-details h2{
font-size: 20px;
color:rgb(209, 69, 69);
margin-bottom: 10px;
}
.blog-details div{
margin: 20px 0;
}
.create{
max-width: 400px;
margin: 0 auto;
text-align: center;
}
.create label{
text-align: left;
display: block;
}
 
.create h2{
  font-size: 20px;
  color:rgb(209, 69, 69);
  margin-bottom:30px;
}

.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button{
background:rgb(209, 69, 69);
color:#fff;
border: 0;
border-radius: 10px;
padding: 8px;
cursor: pointer;
}
.blog-details button{
background-color: rgb(209, 69, 69);
color: #fff;
border: 0;
padding: 8px;
border-radius: 8px;
cursor: pointer;
}